{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category.name }}
			<figure class="creator">
				<img src="{{ creator.picture}}">
				<figcaption>{{ creator.name }}</figcaption>
			</figure>
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Test</h2>
					{% for i in items %}
						<div class="category-item">
							<h3>{{i.title}}</h3>
								<p>description : {{i.description}}</p>
								<p>created by  : {{i.user.name}}</p>
								<p>on  : {{i.creation_date}}</p>
								
								{% if i.image %}
									<p>picture     : {{i.image}}</p>
									<img height="125" width="125" src='{{ url_for('item_image', item_id = i.id) }}' />
									<br/>
								{% endif %}
						</div>
					{% endfor %}
			</div>
	{% endif %}
{% endblock %}
